<p>An error occurred while logging in. Please make sure pop-ups are allowed.</p>
<p>To the right of the address bar choose the icon for the blocked pop-ups and select 'Always allow pop-ups and redirects'</p>
<p>Examples in Edge and Chrome:</p>
<mat-grid-list cols="5">
    <mat-grid-tile colspan="1" class="label">Edge</mat-grid-tile>
    <mat-grid-tile colspan="4"><img src="img/allow-popups-edge.jpg" /></mat-grid-tile>
    <mat-grid-tile colspan="1" class="label">Chrome</mat-grid-tile>
    <mat-grid-tile colspan="4"><img src="img/allow-popups-chrome.jpg" /></mat-grid-tile>
</mat-grid-list> 