:host{
    width: 100%;
    height: 100%;
    display: block;
}

iframe{
    width: 100%;
    height: 100%;
    border: none;
}

::ng-deep .report{
    width: 100%;
    height: 100%;
    border: none;
     
    iframe{
        width: 100%;
        height: 100%;
        border: none;
    }
}
