.toolbar-spacer {
    flex: 1 1 auto;
}

a.title {
    color: white;
}

.sidenav-container {
    padding-top: 10px;
    padding-left: 5px;
    height: 100%;
}
  
.sidenav {
    width: 250px;
}

.sidenav.hidden{
    display: none !important;
}

.container {
    padding: 20px;
}

.logo{
    position: relative;
    padding: 15px 10px;
    float: left;
}

.mat-nav-list a.mat-list-item.active{
    color: orange;
}

#closenav{
    float: right;
    margin-right: 5px;
}