<div class="main-container" [class.file-upload]="embedRoute && embedRoute == 'fileupload'" [class.no-background]="!isHome">
  <header class="topbar" [class.hidden]="isEmbedded || isEmbeddableRoute">
    <a routerLink="/" class="logo left">
      <img src="img/logo.png" alt="logo">
    </a>
    <div id="logged-user" *ngIf="!!profile && profile.name">
      <span>{{profile.name}}</span> 
    </div>
    <nav>
      <a routerLink="/{{item.path}}" [attr.title]="item.name" [class.active]="item.path == currentRoute" *ngFor="let item of visibleNavs">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <img *ngIf="item.img" [src]="item.img">
        <span class="nav-text" [class.translated]="!!item.img">{{ item.name }}</span>
      </a>
    </nav>
    
  </header>

  <div class="main-content">
    <a *ngIf="(isEmbeddableRoute) && !isEmbedded" routerLink="/" class="logo left">
      <img src="img/logo.png" alt="logo">
    </a>

    <div class="container" [class]="{'embedded': isIframe && isEmbedded, 'embeddedable': isEmbeddableRoute}">
      <!--This is to avoid reload during acquireTokenSilent() because of hidden iframe -->
      @if (!isIframe || isEmbedded) {
        <router-outlet></router-outlet>
      }
    </div>
  </div>
</div>