@if (!loginDisplay) {
<div>
    <p class="welcome">Welcome to DevOcean demo!</p>
    <p>Please sign-in to see more actions.</p>
</div>
}

@if (loginDisplay) {
<div>
    <h2>Welcome to DevOcean demo</h2>
    <mat-card id="mainButtons">
        <mat-card-content>
            <a mat-fab extended routerLink="/bisales">
                BI Sales
            </a>
            <a mat-fab extended routerLink="/bifinance">
                BI Finance
            </a>
        </mat-card-content>
    </mat-card>
</div>
}