
@use '@angular/material' as mat;
@use '../m3-theme.scss';
@use "sass:map";

/* You can add global styles to this file, and also import other style files */
//@import '@angular/material/prebuilt-themes/cyan-orange.css';

@include mat.core();

$backgroundColor: rgb(63, 66, 68);

html,
body {
    height: 100%;
}
html{
    @include mat.all-component-themes(m3-theme.$light-theme);

    .dark-theme {
        @include mat.all-component-colors(m3-theme.$dark-theme);

        --mat-app-background-color: #{$backgroundColor} !important;
        --mat-sidenav-content-background-color: #{$backgroundColor} !important;
    } 
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;

    // --mat-app-background-color: #eee;
  
    // .dark-theme {
    //     --mat-app-background-color: #rgb(63, 65, 68);
    // }
}

.container {
    margin: 1%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
